* {
  box-sizing: border-box;
}
// paddingやborderの設定を行っても要素の大きさが指定したサイズのまま変わらない
.Wrapper {
  background: image-url('shibaM.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}